<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head'); %>
<body class="container"> 
    <%- include('../partials/header', {pagina: 'Sobre'}); %>

    <main>
        <div class="jumbotron">
            <h1>Sobre mim</h1>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore provident reprehenderit rem delectus maiores doloribus ea voluptate porro corrupti? Voluptatum ratione cumque aliquam blanditiis sapiente tempora deserunt omnis perspiciatis numquam!</p>
        </div>
    </main>

    <%- include('../partials/footer'); %>
</body>
</html>